@typeparam T
@inherits ListItemBase
@{
    var classes = string.Join(" ",
    "excubo-blazor-treeview-item",
    (TreeView.Disabled ? "excubo-blazor-treeview-item-disabled" : ""),
    (HasChildren ? "" : "excubo-blazor-treeview-item-nochildren"),
    ($"excubo-blazor-treeview-item-{(Collapsed ? "collapsed" : "expanded")}")
    );
}
<li class="@Class @classes">
    <div style="@(HasChildren ? "cursor: pointer" : "")" @onclick="() => { if (!HasChildren || TreeView.Disabled) { return; } Collapsed = !Collapsed; CollapsedChanged?.Invoke(); }">
        <svg viewBox="0 0 16 16" style="height: 1em; transform: rotate(@(Collapsed ? 0 : 90)deg);">
            <path d="M 4 2 l 7 6 l -7 6" />
        </svg>
        @if (AllowSelection)
        {
            @CheckboxTemplate(Selected, Indeterminate, SelectedChanged, Disabled)
        }
        <span style="display: inline-block; vertical-align: middle; @(Disabled ? "color: gray" : null)">
                <CascadingValue Value="this" IsFixed="true">
                    @ItemTemplate((Level, Item))
                </CascadingValue>
        </span>
    </div>
    @if (LoadingChild)
    {
        @LoadChildrenTemplate
    }
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent(Collapsed)
    </CascadingValue>
</li>